<footer class="has-text-centered mt-3">
    <p>© 2022 Made with <span class="has-text-danger">❤</span> by:
      <ul>
      <li><a href="https://github.com/Shernandez927" target="_blank">Shelby Hernandez</a></li>
      <li><a href="https://github.com/Salissa4" target="_blank">Salissa Hernandez</a></li>
      <li><a href="https://github.com/Ag6793" target="_blank">Alexandria Guerrero</a></li>
      <li><a href="https://github.com/GregCervantes" target="_blank">Greg Cervantes</a></li>
      <li><a href="https://github.com/Kosmonaut3173" target="_blank">Elena Huerta</a></li>
      <li><a href="https://github.com/shawn220a" target="_blank">Shawn Tschoepe</a></li>
      </ul>
  </footer>