{{! TODO: Style <li> format of past Map Markers with user inputted text }}
 <div class="card m-4">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure>
          <i class="fa-solid fa-map-pin fa-2xl"></i>
        </figure>
      </div>
      <div >
        <p class="title is-4">{{name}}</p>
      </div>
    </div>
    <div class="content">
      {{content}}
      <br>
      <button class="button is-rounded is-danger m-2"><i class="p-2 fa-solid fa-trash" id="delete-marker"></i>Delete</button>
    </div>