{{!-- <nav class='navbar has-shadow'>
  <div class='navbar-brand'>
    <a class='navbar-burger' id='burger'>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class='navbar-menu' id='navbar-links'>
    <div class='navbar-end'>
      <a class='navbar-item' href='/'>Home</a>
      {{#if logged_in}}
        <a class='navbar-item' href='/map'>Map</a>
        <a class='navbar-item' href='/dashboard'>Dashboard</a>
        <a class='navbar-item' id='logout' href='/'>Logout</a>
      {{else}}
        <a class='navbar-item' id='login' href='/login'>Login</a>
        <a class='navbar-item' href='/signup'>Sign Up</a>
      {{/if}}
    </div>
  </div>
</nav> --}}