<div class="container">
    <h3> Add a new Map Marker:</h3>
<input placeholder="Marker Name"></input>
<input placeholder="Latitude"></input>
<input placeholder="Longitude"></input>
<textarea class="textarea" placeholder="Add a Description..." rows="3"></textarea>
</div>