
<div class="container is-fluid">
  <div class="columns is-centered">
    <div class="column is-two-thirds m-4 p-2"
    <form class="box">
    <h3 class="m-4"> Add a new Map Marker:</h3>
    <input class="mr-3" placeholder="Marker Name" id="marker-name"></input>
    <input class="ml-3"placeholder="Latitude" id="marker-latitude" disabled></input>
    <input class="ml-3"placeholder="Longitude" id="marker-longitude" disabled></input>
    <textarea class="textarea mt-3" id="marker-description" placeholder="Add a Description..." rows="3"></textarea>
    <button class="button mt-1" id="add-marker" disabled>Add Marker</button>
    </form>
    </div>
    </div>
</div> 
