<div class="container">
    <h3> Add a new Map Marker:</h3>
    <input placeholder="Marker Name" id="marker-name"></input>
    <input placeholder="Latitude" id="marker-latitude"></input>
    <input placeholder="Longitude" id="marker-longitude"></input>
    <textarea class="textarea" id="marker-description" placeholder="Add a Description..." rows="3"></textarea>
    <button class="button mt-1" id="add-marker">Add Marker</button>
</div>