{{! TODO: Add in Bulma Styling to display map and past map markers from GET request and new markers from POST request, <li></li> format? }}

<html lang="en">
  <head>
    {{! TODO: Reformat Head Tag CDN and stylesheet order and move to MAIN handlebars }}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <title>Gypsy</title>
  </head>
  <body>

  </body>
  <script
    src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""
  ></script>
  <script src="script.js"></script>
</html>