<form>
        <div>
            <label>User Name</label>
            <input>
        </div>
        <div>
            <label>Location Name</label>
            <input>
        </div>
        
        <div>
            <label>latitude</label>
            <input>
        </div>
        <div>
            <label>longitude</label>
            <input>
        </div>
        <div>
            <label>Description</label>
        </div>
        <div>
            <textarea class="textarea is-success" placeholder="what was it like?" rows="10"></textarea>
        </div>
        <button>Submit</button>
    </form>