<form>
        <div>
            <label>Name</label>
            <input>
        </div>
        <div>
            <label>latitude</label>
            <input>
            <label>longitude</label>
            <input>
        </div>
        <div>
            <label>Description</label>
            <input>
        </div>
        <button>Submit</button>
    </form>