     <!--header-->
     <div class="container is-fluid">
    <header>
      <div class="logo" id="circle">
    
        <p id="small">Welcome to</p>
        <p id="big">Gypsy!</p>
      </div>
    </header>
<section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-7">
            <div class="box">
             
              <circle>Gypsy</circle>
             

              <br/>
              
            </div>
            <p class="has-text-grey">
              <a href="#">Sign Up</a> &nbsp;·&nbsp;
              <a href="#">Forgot Password</a> &nbsp;·&nbsp;
            </p>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container has-text-left">
          <p class="footer-text">
            <a style="color: #bc8ac6">
              For That Unexplainable Spark of Life
              <i style="font-size: 10px; color: #bc8ac6"></i>
               </p>
          <p class="footer-text has-text-left">
             <i style="font-size: 10px; color: #bc8ac6"></i>
              Voodoo-Express
          </p>
        </div>
      </div>
    </section>
    </div>

    
