     <!--header-->
    <head>
      <link rel="stylesheet" href="/public/css/style.css" />
    </head>

    <nav class="navbar has-shadow is-link">
      <div class="navbar-brand">
        {{!-- <h1 class="ml-3 is-size-3 has-text-weight-medium">my_Techblog();</h1> --}}
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    <div class="navbar-menu" id="navbar-links">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          {{#if loggedIn}}
          <a class="navbar-item" id="logout" href="/">Logout</a>
          {{else}}
          <a class="navbar-item" id="login" href="/login">Login</a>
          <a class="navbar-item" href="/signup">Sign Up</a>
          {{/if}}
        </div>
      </div>
    </nav>

     <div class="container is-fluid">

    <header>
      <div class="logo" id="circle">
        <p id="small">Welcome to</p>
        <p id="big">Gypsy!</p>
      </div>
    </header>

    <p class="text_center" id="slogan">
      <a style="color: #bc8ac6">
        For That Unexplainable Spark of Life
      {{!-- <i style="font-size: 10px; color: #bc8ac6"></i> --}}
    </p>
    <p class="footer-text has-text-left">
      <i style="font-size: 10px; color: #bc8ac6"></i>
        Voodoo-Express
    </p>

    </section>
    </div>

    
