<div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-4 p-2 m-4">
          <form class='box login-form'>
          <div class='field'>
            <p class='control has-icons-left'>
              <input id='user-login' class='input is-medium' type='name' placeholder='Username'/>
              <span class='icon is-medium is-left'>
                <i class='fas fa-user'></i>
              </span>
              <span class='icon is-medium is-right'>
              </span>
            </p>
          </div>
          <div class='field'>
            <p class='control has-icons-left'>
              <input
                id='password-login'
                class='input is-medium'
                type='password'
                placeholder='Password'
              />
              <span class='icon is-small is-left'>
                <i class='fas fa-lock'></i>
              </span>
            </p>
          </div>

          <button id='loginbtn' class='button is-medium '>
            Login</button><br/>
        </form>
    </div>
  </div>
</div>
<script src='./js/user.js'></script>