<div class='columns'>
  <div class='column'>
    <div class='hero has-background-info-light is-fullheight has-text-centered'>
      <div id='map' class='container m-4 mr-4'></div>
    </div>
  </div>
  <div class='column'>
    <div class='container'>
      <button class='button' id='austin'>Austin</button>
      <button class='button' id='houston'>Houston</button>
      <button class='button' id='dallas'>Dallas</button>
    </div>
  </div>
</div>