    <div class="hero is-fullheight-with-navbar has-text-centered">
        <div class="is-flex-direction-row is-justify-content-space-evenly p-5">
        <button class="button mr-5" id="austin">Austin</button>
        <button class="button mx-5" id="houston">Houston</button>
        <button class="button ml-5" id="dallas">Dallas</button>
        </div>
    <div id="map" class="container is-fluid"></div>

    {{> markers}}
 

  
</div>
<script
  src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js'
  integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg='
  crossorigin=''
></script>
<script src='./js/map.js'></script>