<div class='columns'>
  <div class='column'>
    <div class='hero has-background-info-light is-fullheight has-text-centered'>
      <div id='map' class='container is-fluid m-4 mr-4'></div>
    </div>
  </div>
  <div class='column'>
    <h1>Hello World</h1>
  </div>
</div>