{{!-- TODO: Create User Dashboard Page rendered after login/signup, Integrate maps? GET request of user made map markers?  --}}
<head>
  <link rel="stylesheet" href="/public/css/style.css"/>
</head>

{{!-- after user signs in, maybe the site shows their name at top?? --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, USERNAME{{name}}!</h2>
  </div>
</div>

{{!-- form to create a new marker --}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Mark a New Location:</h3>

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-9 is-center">
            <div class="box">
                <p class="subtitle is-4">Pin A New Location!</p>
                <br/>
                <form>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="Location Name">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="latitude">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="longitude">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="textarea"
                            placeholder="What was it like there?">
                    </div>
                    <div class="mb-4">
                        <button 
                            type="submit"
                            class="button is-link px-4">
                            Pin on Map
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<form>
    <div>
        <div>
            <label>Location Name</label>
            <input>
        </div>
        
        <div>
            <label>latitude</label>
            <input>
        </div>
        <div>
            <label>longitude</label>
            <input>
        </div>
        <div>
            <label>Description</label>
        </div>
        <div>
            <textarea class="textarea is-success" placeholder="what was it like?" rows="10"></textarea>
        </div>
        <button>Submit</button>
    </div>
</form>

{{!-- down here maybe a list of locations user has marked --}}
