{{! TODO: Create User Dashboard Page rendered after login/signup, Integrate maps? GET request of user made map markers?  }}

{{!-- TODO: Create User Dashboard Page rendered after login/signup, Integrate maps? GET request of user made map markers?  --}}
<head>
  <link rel="stylesheet" href="/public/css/style.css"/>
</head>

{{!-- remember there was a nav partial created --}}
<div>
    {{> nav}}
</div>

{{!-- after user signs in, maybe the site shows their name at top?? --}}
<div class="is-overlay" id="circle">
    <p class="whitetxt2" id="small">Welcome <br> USERNAME HERE {{name}}!</p>
</div>

{{!-- form to create a new marker --}}
{{!-- TODO: I want to move the form up to just under the username --}}
<div class="hero-body mt-6 pt-6">
    <div class="container has-text-centered mt-6 pt-6">
        <div class="column is-9 is-center">
            <div class="box mt-6 pt-6">
                <p class="subtitle is-4">Pin A New Location!</p>
                <br/>
                <form>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="Location Name">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="latitude">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="input is-medium"
                            placeholder="longitude">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            class="textarea"
                            placeholder="What was it like there?">
                    </div>
                    <div class="mb-4">
                        <button 
                            type="submit"
                            class="button is-link px-4">
                            Pin on Map
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- down here maybe a list of locations user has marked --}}