{{!-- TODO: Create User Dashboard Page rendered after login/signup, Integrate maps? GET request of user made map markers?  --}}
<head>
  <link rel="stylesheet" href="/public/css/style.css"/>
</head>

{{!-- after user signs in, maybe the site shows their name at top?? --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- form to create a new marker --}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Mark a New Location:</h3>

<form>
    <div>
        <div>
            <label>Location Name</label>
            <input>
        </div>
        
        <div>
            <label>latitude</label>
            <input>
        </div>
        <div>
            <label>longitude</label>
            <input>
        </div>
        <div>
            <label>Description</label>
        </div>
        <div>
            <textarea class="textarea is-success" placeholder="what was it like?" rows="10"></textarea>
        </div>
        <button>Submit</button>
    </div>
</form>

{{!-- down here maybe a list of locations user has marked --}}
