{{!-- TODO: Past signup form from past assignment, tweak styles as needed --}}
<head>
  <link rel="stylesheet" href="/public/css/style.css"/>
</head>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Google fonts "Acme"-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css"/>
    <link rel="stylesheet" href="./assests/Css/style_signup.css"/>
  </head>

  

  <section class="hero is-fullheight">

    <div class="logo whitetx2 is-vcentered" id="circle2">
    
      <p class="whitetxt2" id="small2">Welcome to</p>
      <p class="whitetxt2" id="big2">Gypsy!</p>
    </div>

    <div class="hero-body">
     

      <div class="container has-text-centered">
        <div class="column is-9 is-center">
          <div class="box">
            <p class="subtitle is-4">Gypsy</p>
          
           

            <br />
            <form>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input
                        class="input is-medium"
                        type="text"
                        placeholder="Username"
                      />
                      <span class="icon is-medium is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    
                    </p>
                  </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input is-medium"
                    type="email"
                    placeholder="Email"
                  />
                  <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    class="input is-medium"
                    type="password"
                    placeholder="Password"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              
              <div class="mb-4">
                <button type="submit" class="button is-link px-4">Sign Up</button>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
</html>