
<div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-4 p-2 m-4">
          <form class="box signup-form">
            <div class="field">
            <div class='control has-icons-left'>
              <input type='name' id='name-signup' class='input is-medium' placeholder="Username">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
            </div>
              <div class="field">

            <div class="control has-icons-left">
              <input type="email" id="email-signup" class="input is-medium" placeholder='Email'>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            </div>
              <div class="field">

            <div class="control has-icons-left">
              <input type="password" id="password-signup" class="input is-medium" placeholder='Password'>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            </div>
            <button class="button is-medium " id="signupbtn">Sign Up!</button>
          </form>
        </div>
    </div>
  </div>
  <script src="./js/signup.js"></script>