{{!-- TODO: Past signup form from past assignment, tweak styles as needed --}}
<head>
  <link rel="stylesheet" href="/public/css/style.css"/>
</head>

<div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-4">
          <form action="" class="box signup-form">
            <div class="field">
            <label class ="label">
              Username:
            </label>
            <div class="control has-icons-left">
              <input type="text" id="user-signup" class="input">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
            </div>
              <div class="field">
            <label class ="label">
              Email:
            </label>
            <div class="control has-icons-left">
              <input type="email" id="email-signup" class="input">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            </div>
              <div class="field">
            <label class ="label">
              Password:
            </label>
            <div class="control has-icons-left">
              <input type="password" id="password-signup" class="input">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-key"></i>
              </span>
            </div>
            </div>
            <button class="button is-info">Sign Up!</button>
          </form>
        </div>
    </div>
  </div>