* {
  /* background-color: #f2f2f071; Transparency is causing a weird gradient effect */
  font-family: "Quicksand", serif;
  /* font-size: 14px; */
  font-weight: 300;
}

.subtitle.is-4 {
  color: #bc8ac6;
}

.footer-text {
  text-align: left;
}

.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  /* margin-top: 5rem; */
  background-color: rgb(255, 255, 255);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

p.text_center {
  text-align: center;
}

p.slogan {
  font-size: 20px;
}

.button.is-link.px-4 {
  background-color: #bc8ac6;
}

a {
  color: black;
}

a:hover {
  color: #bababa;
}

.languages {
  margin-top: 10px;
}

.footer-text {
  font-weight: initial;
}

#small {
  font-size: 20px; /*Font size for top logo text*/
}

#big {
  font-family: "Acme", sans-serif;
  font-size: 65px;
  line-height: 0.8;
}
#big2 {
  font-family: "Acme", sans-serif;
  font-size: 65px;
  line-height: 0.8;
  padding-top: 1rem;
}

/*Format for logo circle and text placement*/
#circle {
  background-color: rgb(196, 138, 178);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9rem;
}

p.whitetxt {
  background: none;
}
p.whitetxt2 {
  background: none;
}

.whitetxt {
  color: white;
  text-align: center;
}
.whitetxt2 {
  color: white;
  text-align: center;
}

.column.is-9,
.column.is-9-tablet {
  flex: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

div#circle {
  margin-top: 4rem; /*Moves circle down*/
  margin-bottom: 1rem;
}


/* .hero-body {
  padding-top: 0;
}

 .callsign {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .callsign1 {
    position: absolute;
    bottom: 25;
    left: 0;
  } 

.field {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    bottom: 25;
    background-color: purple; 
  }*/

/* button styling */

/* .control {
    background-color: purple;
    color: black;
    border: 2px solid white;
    font-family: nunito;
  }
  
  .button.is-success #submit {
    background-color: purple;
    color: black;
    border: 2px solid white;
    font-family: nunito;
  }
  .button.is-success:hover.is-success:hover {
    background-color: grey;
    color: white;
  }
  .callsign {
    bottom: left;
  }

  @media screen and (min-width: 768px) {
}

#map { 
    height: 10rem;
 }
 
 .button.is-block.is-info.is-large.is-fullwidth {
  background-color: #bc8ac6; 
} */
