/* ================================================================================ Homepage css */
* {
  font-weight: 300;
  box-sizing: border-box;
}

.subtitle.is-4 {
  color: #bc8ac6;
}

.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  /* margin-top: 5rem; */
  background-color: rgba(255, 255, 255, 0.1);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

p.text_center {
  text-align: center;
}

p.slogan {
  font-size: 20px;
}

.button.is-link.px-4 {
  background-color: #bc8ac6;
}

a {
  color: black;
}

a:hover {
  color: #bababa;
}

/*Font-size for the homepage slogan*/
#slogan a{
  font-size: 45px;
  font-weight: bold;
}

.languages {
  margin-top: 10px;
}

/*Footer css*/
p.footer-text {
  font-weight: initial;
  text-align: center;
  /* bottom: 8px; Want to center at the bottom*/
}

/*Font-size for top text on homepage logo*/
#small_home {
  font-size: 44px; 
}

/*Font-size for bottom text on logo*/
#big_home {
  font-family: "Acme", sans-serif;
  font-size: 150px;
  line-height: 0.8;
}

#big2 {
  font-family: "Acme", sans-serif;
  font-size: 65px;
  line-height: 0.8;
  padding-top: 1rem;
}


/*Format for logo on the homepage and text placement*/
#circle_home {
  background-color: rgb(196, 138, 178);
  width: 550px;
  height: 550px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9rem;
  text-align: center;
}

.navbar-menu{
  background-color: rgb(196, 138, 178);
}

.whitetxt {
  color: white;
  text-align: center;
}

/*Column layout*/
.column.is-9, .column.is-9-tablet {
  flex: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*Positions the logo on signup page*/
div#circle_home {
  margin-top: 4rem; /*Moves circle down*/
  margin-bottom: 1rem;
}

/*Hover effect background color*/
.navbar-item:hover{
  background-color: rgb(177, 80, 146) !important;
}
/* ====================================================================*/ 

p.whitetxt2 {
  background: none;
} 

.whitetxt2 {
  color: white;
  text-align: center;
}

/*Sign up page logo*/
/* #circle {
  background-color: rgb(196, 138, 178);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  text-align: center;
}

#small2{
  font-size: 22px;
}

#big2 {
  font-family: 'Acme', sans-serif;
  font-size: 65px;
  line-height: 0.3;
 
}


div#circle {
  margin-top: 4rem;
  margin-bottom: 1rem;
} */

/*=========================================================================================*/

/* .hero-body {
  padding-top: 0;
}

 .callsign {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .callsign1 {
    position: absolute;
    bottom: 25;
    left: 0;
  } 

.field {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    bottom: 25;
    background-color: purple; 
  }*/

/* button styling */

/* .control {
    background-color: purple;
    color: black;
    border: 2px solid white;
    font-family: nunito;
  }
  
  .button.is-success #submit {
    background-color: purple;
    color: black;
    border: 2px solid white;
    font-family: nunito;
  }
  .button.is-success:hover.is-success:hover {
    background-color: grey;
    color: white;
  }
  .callsign {
    bottom: left;
  }

  @media screen and (min-width: 768px) {
}

#map { 
    height: 10rem;
 }
 
 .button.is-block.is-info.is-large.is-fullwidth {
  background-color: #bc8ac6; 
} */

/*=============================================================================== Map page CSS*/

button.button{
  background-color: rgb(196, 138, 178);
  color: white;
  width: 10rem;
  margin: 3px;
  font-weight: bold;
}

.button.is-hovered, .button:hover {
  background-color: rgb(177, 80, 146);
  color: #ffffff;
}

/*Gypsy Logo in the upper right corner*/
#logo_map {
  background-color: rgb(196, 138, 178);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  text-align: center;
  color: white;
  position: absolute;
  margin: 15px;
  margin-top: 25px;
  font-size: 18px;
}

/*Font for text on the page*/
.font {
  font-family: "Acme", sans-serif;
  letter-spacing: 1.2px;
}