
     <div class="container is-fluid">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div>
            <h1 class="p-4 is-size-1">Your next best online pushpin map <i class="fa-solid fa-map-location-dot"></i></h1>
            <div>
              <div class="logo whitetxt" id="circle_home">
              <p id="small_home">Welcome to</p>
              <br>
              <p id="big_home">Gypsy!</p>
              </div>
            </div>

          </div>
        </div>
      </div>
            <h3 class="has-text-centered">
              For That Unexplainable Spark of Life
            </h3>

    </section>
    </div>

    
